@tailwind base;
@tailwind components;
@tailwind utilities;

/* SchibstedGrotesk-Black */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* SchibstedGrotesk-BlackItalic */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* SchibstedGrotesk-Bold */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* SchibstedGrotesk-BoldItalic */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* SchibstedGrotesk-ExtraBold */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* SchibstedGrotesk-ExtraBoldItalic */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* SchibstedGrotesk-Italic */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* SchibstedGrotesk-Medium */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* SchibstedGrotesk-MediumItalic */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* SchibstedGrotesk-Regular */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* SchibstedGrotesk-SemiBold */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* SchibstedGrotesk-SemiBoldItalic */
@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('./dist/assets/fonts/Schibsted_Grotesk/SchibstedGrotesk-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}